.card-body {
  background-color: #8bf0ba;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
  transition: transform 0.2s;
  border: 5px 5px 5px 5px;
  border-color: azure;
}

.card:hover {
  transform: scale(1.08);
}

.card-title {
  font-family: Verdana;
  font-weight: bolder;
  font-size: larger;
}

.card-text {
  font-family: "Times New Roman";
  font-weight: 550;
}

.card-buttons {
  padding: 10px;
  gap: 5px;
  display: flex;
  flex-flow: column wrap;
  overflow: auto;
}
